
h2{
    margin-left: 20px;
}
table {
    margin: 5rem auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    background-color: #1c2046; 
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    border: 1px solid #3b3f72;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2c2f59;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}


.disponible {
    background-color: #2ecc71; 
    color: white;
    font-weight: bold;
}

.no-disponible {
    background-color: #e74c3c; 
    color: white;
    font-weight: bold;
}


.filtros {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.filtros label {
    font-weight: 500;
    color: #ffffff;
}

.filtros select {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #444868;
    background-color: #1c2046;
    color: white;
    font-family: 'Inter', sans-serif;
}

/* Responsive */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    .filtros {
        flex-direction: column;
        align-items: center;
    }
}
.btn-modificar,
.btn-cancelar {
  padding: 6px 12px;
  margin-right: 6px;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-modificar {
  background-color: #3498db;
  color: white;
}
.btn-modificar:hover {
  background-color: #2980b9;
}

.btn-cancelar {
  background-color: #e74c3c;
  color: white;
}
.btn-cancelar:hover {
  background-color: #c0392b;
}

.icono{
    background-color: rgb(251, 253, 255);
}